<!DOCTYPE html>
<html lang="en">
<head>
    <title>麻酱社区</title>
    <meta charset="UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1"
                    data-toggle="collapse" type="button">
                <span class="sr-only">麻酱社区</span>
            </button>
            <a class="navbar-brand" href="#">麻酱社区</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input class="form-control" placeholder="搜索内容" type="text">
                </div>
                <button class="btn btn-default" type="submit">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="dropdown-toggle" data-toggle="dropdown"
                       href="#" role="button">个人中心<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>