<!DOCTYPE html>
<html lang="zh">
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed"
                        data-target="#bs-example-navbar-collapse-1"
                        data-toggle="collapse" type="button">
                    <span class="sr-only">麻酱社区</span>
                </button>
                <a class="navbar-brand" href="/">麻酱社区</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input class="form-control" placeholder="搜索内容" type="text">
                    </div>
                    <button class="btn btn-default" type="submit">搜索</button>
                </form>

                <!--<div th:text="${session.user}">用户信息</div>-->
                <ul class="nav navbar-nav navbar-right">

                    <!--如果不为空则展示,打印<li>整个节点-->
                    <li th:if="${session.user != null }">
                        <a href="/publish">提问</a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null }">
                        <!--th:text 替换整个标签a-->
                        <a aria-expanded="false" aria-haspopup="true"
                           class="dropdown-toggle" data-toggle="dropdown"
                           href="#" role="button">个人信息
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">我的问题</a></li>
                            <li><a href="#">消息中心</a></li>
                            <li><a href="#">个人资料</a></li>
                            <hr text="我是分割线">
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <a href="https://github.com/login/oauth/authorize?client_id=639f4c8d6441c6136b44&redirect_url=http://localhost:8080/callback&scope=user&state=1">登录</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>